click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
flask-mqtt==1.1.0
azure-cosmos==3.1.2
pytz==2019.3
WTForms==2.2.1
Flask-WTF==0.14.3
dash==1.9.1
pytz==2019.3
dash_bootstrap_components==0.9.1
numpy==1.18.2
pandas==1.0.3
dash-daq==0.4.0
flask-login==0.5.0
Mako==1.1.2
alembic==1.4.2
flask-migrate==2.5.3
python-editor==1.0.4