
/* Definner vareiabler */
:root {
  --coll-width: 185px;
}

.tableFixHead table {
    width: auto;
}


.tableFixHead tbody{
    height: 450px;
    overflow-y: auto;
}

.tableFixHead tbody, thead {
    display:block;
    width: 100%;
}


.tableFixHead thead th, tbody td{
    width: var(--coll-width); 
}

/* Siste kolonne må være 12px kortere for å få plass til sccrollbar */
.scrollBarColl {
    width: calc(var(--coll-width) - 12px);
}

.label-dropdown {
    padding: 8px
}

.collapsing-no-animation {
    -webkit-transition: none;
    transition: none;
}

.fa-window-close {
    cursor: pointer;
}
.jumbotron{
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    border-radius: 10px;
}

.spaced-list{
    padding-top: 1em;
}
