{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    <script>
        setTimeout(function() {
            // updates header 
            $.get("/#header", function(data, status){
                $("#header").html(data);
            });
        }, 5000); // will refresh every 5 seconds = 5000 ms
    </script>

    <div id="header">
    <h2>value =  {{ val }}</h2>
    </div>
    <h2>Nylige målinger</h2>
    {% for måling in målinger %}
  
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ måling.Enhet }}</a>
                <small class="text-muted">{{ måling.Tidspunkt }}</small>
                </div>
                <h2><a class="article-title" href="#">{{måling.Temperatur}}</a></h2>
                <p class="article-content">{{ måling.Batteritilstand}}</p>
            </div>
        </article>
    {% endfor %}

{% endblock content %}
