<!-- Index side som inneholder informasjon om gruppen -->
<!-- Henter inn  standard layout -->
{% extends "layout.html" %}
{% block content %}

    <h1>Bachelorgruppe E2013</h1>
    <script>
        setTimeout(function() {
            // updates header 
            $.get("/#header", function(data, status){
                $("#header").html(data);
            });
        }, 5000); // will refresh every 5 seconds = 5000 ms
    </script>

    <div id="header">
    <h2>Oppgaven</h2>
    </div>

    <div id="Om gruppen">
    <h2>Om gruppen</h2>
    </div>

    <h2>Gruppemedlemmer</h2>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">"Bla"</a>
                <small class="text-muted">"Bla bla"</small>
                </div>
                <h2><a class="article-title" href="#">"Gruppemedlem"</a></h2>
                <p class="article-content">"Fra"</p>
            </div>
        </article>
    

{% endblock content %}
